<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img alt="Image" class="logo" src="/images/papa_pawsome_logo.png" />
            </div>
            <div class="col-md-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/PapaPawsome/" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/papapawsome/" target="_blank">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://in.pinterest.com/papapawsome/" target="_blank">
                            <i class="socicon socicon-pinterest icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-right text-center-xs">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> {{ site.title }}</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
