<header>
    <div class="bar bar--sm visible-xs" data-scroll-class="100px:pos-fixed">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-2">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="/images/papa_pawsome_logo.png" />
                        <img class="logo logo-light" alt="logo" src="/images/papa_pawsome_logo.png" />
                    </a>
                </div>
                <div class="col-6 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu-bar;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu-bar" class="bar bar--sm bar-1 hidden-xs" data-scroll-class="100px:pos-fixed">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 hidden-xs">
                    <div class="bar__module">
                        <a href="/" class="d-block">
                            <img class="logo logo-dark" alt="logo" src="/images/papa_pawsome_logo.png" />
                            <img class="logo logo-light" alt="logo" src="/images/papa_pawsome_logo.png" />
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-10 text-right">
                    <div class="bar__module">
                        <ul class="menu-horizontal">
                            <li>
                                <a class="inner-link" href="#our-products">Our Products</a>
                            </li>
                            <li>
                                <a class="inner-link" href="#available-at">Available At</a>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</header>
