---
layout: default
---

<section class="text-center ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Blog</h1>
                {% if page.description %}
                <p class="lead">
                    {{ page.description }}
                </p>
                {% endif %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                        {% for post in site.posts %}
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="{{ post.url }}" class="block">
                                        <img alt="Image" src="{{ post.featured_image.image }}" />
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <span>{{ post.date | date_to_string }}</span>
                                        <h5>{{ post.title }}</h5>
                                        <a href="{{ post.url }}">
                                            Read More
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
