---
layout: default
---

<section class="text-center ">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Blog</h1>
                <p class="lead">
                    Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry masonry-blog-magazine">
                    <div class="masonry__container row">
                        <div class="masonry__item col-md-6"></div>
                        {% for post in site.posts %}
                          {% if post.featured_image.type == 'full' %}
                            <div class="masonry__item col-md-12 col-12 h">
                                <a class="block" href="{{ post.url }}">
                                    <article class="imagebg border--round" data-scrim-bottom="8">
                                        <div class="background-image-holder">
                                            <img alt="background" src="{{ post.featured_image.image }}" />
                                        </div>
                                        <div class="article__title">
                                            <span>{{ post.date | date_to_string }}</span>
                                            <h4>{{ post.title }}</h4>
                                        </div>
                                    </article>
                                </a>
                            </div>
                            <!--end item-->
                          {% elsif post.featured_image.type == 'half' %}
                            <div class="masonry__item col-md-6 col-12">
                                <a class="block" href="{{ post.url }}">
                                    <article class="imagebg border--round" data-scrim-bottom="8">
                                        <div class="background-image-holder">
                                            <img alt="background" src="{{ post.featured_image.image }}" />
                                        </div>
                                        <div class="article__title">
                                            <span>{{ post.date | date_to_string }}</span>
                                            <h4>{{ post.title }}</h4>
                                        </div>
                                    </article>
                                </a>
                            </div>
                            <!--end item-->
                          {% else %}
                            <div class="masonry__item col-md-12 col-lg-6 col-12">
                                <a class="block" href="{{ post.url }}">
                                    <article class="imagebg border--round height--tall" data-scrim-bottom="8">
                                        <div class="background-image-holder">
                                            <img alt="background" src="{{ post.featured_image.image }}" />
                                        </div>
                                        <div class="article__title">
                                            <span>{{ post.date | date_to_string }}</span>
                                            <h4>{{ post.title }}</h4>
                                        </div>
                                    </article>
                                </a>
                            </div>
                            <!--end item-->
                          {% endif %}
                        {% endfor %}
                    </div>
                    <!--end masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
