<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/styles/font-rubiklato.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700%7CRubik:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="{{ page.layout }}">
    <a id="start"></a>
    {% include header.html %}
    <div class="main-container">
      {{ content }}
    </div>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/flickity.min.js"></script>
    <script src="/javascripts/isotope.min.js"></script>
    <script src="/javascripts/granim.min.js"></script>
    <script src="/javascripts/smooth-scroll.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
