---
layout: default
---

<section class="cover height-70 imagebg text-center slider" data-arrows="true" data-paging="true" data-children="2">
  <ul class="slides flickity-enabled is-draggable" tabindex="0">
    <div class="flickity-viewport">
      <div class="flickity-slider" style="left: 0px; transform: translateX(-100%);">
        <li class="imagebg slide" style="position: absolute; left: 200%;">
          <div class="background-image-holder" style="background-color: rgba(0, 0, 0, 0); background-position: initial; background-repeat: repeat; background-attachment: scroll; background-image: url(&quot;images/papa_pawsome_header_1.jpg&quot;); background-size: contain; background-origin: padding-box; background-clip: border-box; opacity: 1;">
            <img alt="background" src="images/papa_pawsome_header_1.jpg">
          </div>
        </li>
        <li class="imagebg slide" style="position: absolute; left: 100%;">
          <div class="background-image-holder" style="background-color: rgba(0, 0, 0, 0); background-position: initial; background-repeat: repeat; background-attachment: scroll; background-image: url(&quot;images/papa_pawsome_header_2.jpg&quot;); background-size: contain; background-origin: padding-box; background-clip: border-box; opacity: 1;">
            <img alt="background" src="images/papa_pawsome_header_2.jpg">
          </div>
        </li>
      </div>
    </div>
    <button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-prev-next-button next"
      type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
    <ol class="flickity-page-dots">
      <li class="dot"></li>
      <li class="dot is-selected"></li>
    </ol>
  </ul>
</section>

{% for product in site.products %}
<section class="feature-large">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ product.galleryImages[0].image }}">
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="mt--2">
          <h2>{{ product.title }}</h2>
          <p class="lead">
            {{ product.content | strip_html }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
{% endfor %}

{% if site.testimonials[0]  %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider slider--inline-arrows" data-arrows="true">
          <ul class="slides">
            {% for testimonial in site.testimonials %}
            <li>
              <div class="testimonial row justify-content-center">
                <div class="col-lg-2 col-md-4 col-6 text-center">
                  <img class="testimonial__image" alt="Image" src="{{ testimonial.image }}" />
                </div>
                <div class="col-lg-7 col-md-8 col-12">
                  <span class="h3">
                    &ldquo;{{ testimonial.content | strip_html }}&rdquo;
                  </span>
                  <h5>{{ testimonial.title }}</h5>
                  <span>Interface Designer &mdash; Yoke</span>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
{% endif %}

<section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1"><canvas id="granim-0" width="1425" height="469"></canvas>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-lg-6">
        <div class="cta">
          <h2>Available at</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center">
      {% for outlet in site.outlets %}
      <div class="col-sm-6 col-md-3 mb-4">
        <a href="{{ outlet.link }}" target="_blank">
          <div class="outlet border--round box-shadow-wide">
            <img alt="{{ outlet.title }}" src="{{ outlet.logo }}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
