---
layout: default
---

<section class="cover height-60 imagebg slider" data-arrows="true" data-paging="true">
    <ul class="slides">
        <li class="imagebg">
            <div class="background-image-holder">
                <img alt="background" src="/images/papa_pawsome_header_1.jpg" />
            </div>
        </li>
        <li class="imagebg">
            <div class="background-image-holder">
                <img alt="background" src="/images/papa_pawsome_header_2.jpg" />
            </div>
        </li>
    </ul>
</section>

<section id="our-products" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Our Products</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% for product in site.products %}
<section class="feature-large">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ product.galleryImages[0].image }}">
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="mt--2">
          <h2>{{ product.title }}</h2>
          <p class="lead">
            {{ product.content | strip_html }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
{% endfor %}

{% if site.testimonials[0]  %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider slider--inline-arrows" data-arrows="true">
          <ul class="slides">
            {% for testimonial in site.testimonials %}
            <li>
              <div class="testimonial row justify-content-center">
                <div class="col-lg-2 col-md-4 col-6 text-center">
                  <img class="testimonial__image" alt="Image" src="{{ testimonial.image }}" />
                </div>
                <div class="col-lg-7 col-md-8 col-12">
                  <span class="h3">
                    &ldquo;{{ testimonial.content | strip_html }}&rdquo;
                  </span>
                  <h5>{{ testimonial.title }}</h5>
                  <span>Interface Designer &mdash; Yoke</span>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
{% endif %}

<section>
    <div class="container">
        <div class="row heading-block">
            <div class="col-md-12 text-center">
                <h6 class="type--uppercase">Recent Stories</h6>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                          {% for post in site.posts limit:3 %}
                            <div class="masonry__item col-lg-4 col-md-6">
                                <article class="feature feature-1">
                                    <a href="{{ post.url }}" class="block">
                                        <img alt="Image" src="{{ post.image }}" />
                                    </a>
                                    <div class="feature__body boxed boxed--border">
                                        <span>{{ post.date | date_to_string }}</span>
                                        <h5>{{ post.title }}</h5>
                                        <a href="{{ post.url }}">
                                            Read More
                                        </a>
                                    </div>
                                </article>
                            </div>
                            <!--end item-->
                          {% endfor %}
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section id="available-at" class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1"><canvas id="granim-0" width="1425" height="469"></canvas>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 col-lg-6">
        <div class="cta">
          <h2>Available at</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center">
      {% for outlet in site.outlets %}
      <div class="col-sm-6 col-md-3 mb-4">
        <a href="{{ outlet.link }}" target="_blank">
          <div class="outlet border--round box-shadow-wide">
            <img alt="{{ outlet.title }}" src="{{ outlet.logo }}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
