.bar {
  padding-bottom: 0;
}

.bar .logo {
  max-height: 4em;
}

.background-image-holder {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.outlet {
  display: flex;
  background-color: white;
  height: 130px;
  padding: 0 1rem;
}

.outlet img {
  align-self: center;
  margin: auto;
  max-height: 105px;
}
