.bar .logo {
  max-height: 4em;
  top: 0;
}

.bar .menu-horizontal {
  top: 0;
}

.bar-1 .menu-horizontal > li > a {
  font-size: 1em;
}

@media all and (max-width: 767px) {
  .bar__module {
    margin-bottom: 0;
  }

  .bar-1 .menu-horizontal {
    padding-right: 0.7em;
  }
}

.background-image-holder {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.outlet {
  display: flex;
  background-color: white;
  height: 130px;
  padding: 0 1rem;
}

.outlet img {
  align-self: center;
  margin: auto;
  max-height: 105px;
}

/* Blog post */
.article__body img {
  display: block;
  width: 100%;
  max-width: 100%;
}
